OTEL_AGENT_CLIENT_ID=<client-id-provided-by-control-plane>
OTEL_AGENT_CLIENT_SECRET=<client-secret-provided-by-control-plane>

KEYCLOAK_TOKEN_URL=<http://host.docker.internal:8080/realms/observability/protocol/openid-connect/token>
OTEL_GATEWAY_ENDPOINT=<http://host.docker.internal:4318>
