COMPOSE_PROJECT_NAME=cloud-observability

# OTEL configuration
OTELCOL_VERSION=0.160.0

# OpenSearch configuration
OPENSEARCH_VERSION=3.8.0
OPENSEARCH_INITIAL_ADMIN_PASSWORD=admin-password
OPENSEARCH_INGEST_USERNAME=otel-ingest
OPENSEARCH_INGEST_PASSWORD=otel-ingest-password

# VictoriaMetrics configuration
VICTORIAMETRICS_VERSION=v1.150.0
